{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.8.1"]]
 
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn project.app/init}}
   :devtools
   {:http-root "public"
    :http-port 9095
    :loader-mode :eval}}}}
